<form action="/signup" method="post">
	<labe>firstname
		<input type="text" name="firstName">
	</label>
	<labe>lastName
		<input type="text" name="lastName">
	</label>
	<labe>username
		<input type="text" name="username">
	</label>
	<labe>password
		<input type="password" name="password">
	</label>
	<button>Subscribe</button>
</form>

<a href="/login">if you already have an account</a>