<form action="/login" method="post">

  <div class="mb-3">
    <label class="">username
      <input type="text" name="username" class="form-control">
    </label>
  </div>

  <div class="mb-3">
    <label>password
      <input type="password" name="password" class="form-control">
    </label>
  </div>

    <button class="btn btn-success">Login</button>
</form>

<a href="/">if you do not have an account yet</a>