<form action="/login" method="post">
  <labe>username
    <input type="text" name="username">
  </label>
  <labe>password
    <input type="password" name="password">
  </label>
  <button>Login</button>
</form>

<a href="/">if you do not have an account yet</a>