<form action="/room" method="post">
  <label>Choose your chat room
    <select name="roomname">
      <option value="news">news</option>
      <option value="covid19">covid19</option>
      <option value="nodejs">nodeJS</option>
    </select>
  </label>

  <button>Join</button>
</form>