<div>
  <h3 class="username"><%= session['user']['username'] %></h3>
</div>

<div>
  <h4 class="roomname"><%= session['roomname'] %></h4>
</div>

<div>
  <input type="text" id="message-input">
  <button onclick="sendMessage()">Send</button>
</div>

<div class='message-box'>
  <ul class="message-list"></ul>
</div>

<% console.log("room.ejs/session", {session}) %>

<script>
  const socket = io("http://localhost:4000");
  socket.on('connection');
  const username = $('.username').text();
  const roomname = $('.roomname').text();

  socket.emit("joinChat", { username, roomname });

  socket.on("message", data => {
    $('.message-list').append(`<li><p class='member-message'>${data}</p></li>`)
  })
  const sendMessage = () => {
    const msg = $('#message-input').val();
    $('.message-list').append(`<li><p class='owner-message'>${msg}</p></li>`);
    $('#message-input').val(""); 
    socket.emit("message", msg);
  }

  $('#message-input').bind('keypress', (data) => {
    // console.log(data);
    socket.emit("typing", username)
  })
</script>