<div>
  <h3 class="username"><%= session['user']['username'] %></h3>
</div>

<div>
  <h4 class="roomname"><%= session['roomname'] %></h4>
</div>

<div>
  <input type="text" id="message-input">
  <button onclick="sendMessage()">Send</button>
</div>

<div class='message-box'>
  <ul class="message-list"></ul>
</div>

<div>
  <p id="typing"></p>
</div>

<% console.log("room.ejs/session", {session}) %>

<script>
  const socket = io("http://localhost:4000");
  socket.on('connection');
  const username = $('.username').text();
  const roomname = $('.roomname').text();

  socket.emit("joinChat", { username, roomname });

  // TODO data now contains message and roomname, since it is work around
  socket.on("message", data => {
    if(data['roomname'] === roomname) {
      $('.message-list').append(`<li><p class='member-message'>${data['msg']}</p></li>`);
      $('#typing').text(''); 
    }
  })

  const sendMessage = () => {
    const msg = $('#message-input').val();
    $('.message-list').append(`<li><p class='owner-message'>${msg}</p></li>`);
    $('#message-input').val(""); 
    socket.emit("message", msg);
  }

  $('#message-input').bind('keypress', (data) => {
    socket.emit("typing", username)
  })

  socket.on("typing", data => {
    if(data['roomname'] === roomname) {
      $('#typing').text(`${data['username']} is typing`);
    }
  })
</script>